about-time==4.2.1
alive-progress==3.1.5
annotated-types==0.7.0
attrs==24.2.0
boto3==1.35.29
botocore==1.35.29
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
detect-secrets==1.5.0
dill==0.3.9
grapheme==0.6.0
idna==3.10
importlib==1.0.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
packaging==24.1
pydantic==1.10.12
pydantic_core==2.23.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
s3transfer==0.10.2
schema==0.7.7
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
